$vert: #99cc00;
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* toute la hauteur du viewport */
  padding: 1em;
}
header {
  color: white;
  background-color: grey;
  margin-bottom: 1em;
  padding: 0.8em;
}
.cadre {
  border-style: solid;
  border-color: red;
}
.match {
  .info {
    border: 1px;
    .organisateur {
      font-size: 1em;
      font-weight: bold;
    }
    .date {
      font-size: 0.75em;
    }
  }
}
#tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px;
  border-style: solid;
  border-color: back;
  height: 300px;
  //height: 60%;
  background: #232730 url(/img/stade-basket.jpg) repeat scroll 0 0;
  background-color: tan;
  @mixin element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .equipe {
    @include element;
    cursor: pointer;
    font-size: 3em;
    color: white;
    flex: 2;
    .blason {
      width: 60%;
      height: 40%;
      //background-image: url(/public/img/ffbb-150-alt.png);
    }
  }
  #marque {
    @include element;
    flex: 1;
    .compteur {
      color: black;
      font-weight: bold;
      font-size: 2.5em;
      border-radius: 10%;
      padding: 15px;
      background-color: white;
      .hote{
        cursor: pointer;
      }
      .visiteur{
        cursor: pointer;
      }
    }
  }
}
footer {
  color: white;
  background-color: grey;
  margin-top: 1em;
  padding: 0.8em;
}
