body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* toute la hauteur du viewport */
  padding: 1em; }

header {
  color: white;
  background-color: grey;
  margin-bottom: 1em;
  padding: 0.8em; }

.cadre {
  border-style: solid;
  border-color: red; }

.match .info {
  border: 1px; }
  .match .info .organisateur {
    font-size: 1em;
    font-weight: bold; }
  .match .info .date {
    font-size: 0.75em; }

#tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px;
  border-style: solid;
  border-color: back;
  height: 300px;
  background: #232730 url(/img/stade-basket.jpg) repeat scroll 0 0;
  background-color: tan; }
  #tableau .equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3em;
    color: white;
    flex: 2; }
    #tableau .equipe .blason {
      width: 60%;
      height: 40%; }
  #tableau #marque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; }
    #tableau #marque .compteur {
      color: black;
      font-weight: bold;
      font-size: 2.5em;
      border-radius: 10%;
      padding: 15px;
      background-color: white; }
      #tableau #marque .compteur .hote {
        cursor: pointer; }
      #tableau #marque .compteur .visiteur {
        cursor: pointer; }

footer {
  color: white;
  background-color: grey;
  margin-top: 1em;
  padding: 0.8em; }
